<% content_for :title, "Editing flow transform" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing flow transform</h1>

  <%= render "form", flow_transform: @flow_transform %>

  <%= link_to "Show this flow transform", @flow_transform, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to flow transforms", flow_transforms_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
